<%= link_to 'top', root_path, class: "subtitle" %>
<%= link_to '記録する', users_path, class: "subtitle" %>
<%= link_to '週間記録', user_path(current_user), class: "subtitle" %>
<%= link_to '平均値', edit_user_path(current_user), class: "subtitle" %>
<div class='main'>
  <% kcal = 0 %>
  <% money = 0 %>
  <% @foods.each do |foods| %>
    <% kcal += foods.kcal %>
    <% money += foods.money %>
  <% end %>
  <div class='footer-contents'>
    <h2 class='service-title'>
      <%= "38戦25勝13負"%>
    </h2>
    <h2 class='service-title'>
      <%= "今まで総合#{ kcal }kcalです" %> <br>
      <%= "今まで総合#{ money }円です" %> <br>
      <%= "１日平均とっています" %> <br>
      <%= "１日平均使ってます" %> <br>
      <%= link_to "今まで食べたもの見にいく", user_path(current_user)%>
    </h2>
  </div>
</div>
