<% kcal = 0 %>
<% money = 0 %>
<% @food.each do |food| %>
  <% kcal += food.kcal %>
  <% money += food.money %>
<% end %>
<%= link_to 'top', root_path, class: "subtitle" %>
<%= link_to 'æœ¬æ—¥ã®æˆç¸¾', users_path, class: "subtitle" %>
<%= link_to 'é€±é–“æˆç¸¾', user_path(current_user), class: "subtitle" %>
<%= link_to 'ç”Ÿæ¶¯æˆç¸¾', edit_user_path(current_user), class: "subtitle" %>
<div class='item-contents'>
    <h2 class='title'>
    <%= form_with(url: "#", local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "ä»Šã¾ã§é£Ÿã¹ãŸç‰©ã¯æ¤œç´¢ï¼", class: "search-input" %>
      <%= form.submit "æ¤œç´¢", class: "search-btn" %> <br>
      <%= link_to 'é£Ÿã¹ç‰©ã‚’è¨˜éŒ²ðŸ”˜', new_food_path, class: "red-btn" %> <br>
      <%= link_to 'ç”Ÿæ¶¯è¨˜éŒ²ðŸ”˜', new_food_path, class: "red-btn" %>
    <% end %>
    </h2>
    <h2 class='graph'>
       
      <%= pie_chart({"æ‘‚å–å¯èƒ½kcal" => current_user.metabolism.to_i * 7, "æ‘‚å–kcal" => kcal}) %>
      <%= pie_chart [["ä½¿ãˆã‚‹ãŠé‡‘", current_user.day_money * 9 ], ["ä½¿ã£ãŸãŠé‡‘", money]] %>
    </h2>
      <h2 class='service-title'>
            <%= "æ¸›ã£ãŸä½“è„‚è‚ª1.2kg"%> <br>
            <%= "äºˆå®šã‚ˆã‚Š3987å††ç¯€ç´„ã—ã¦ã„ã¾ã™"%> <br>
            <%= "ç´ æ™´ã‚‰ã—ã„æˆç¸¾ã§ã™ã­ï¼"%> 
            <%# "#{current_user.metabolism.to_i - kcal }kcalã§ã™"%> <br>
            <%# "#{current_user.day_money - money }å††ã§ã™"%>
</div> 

<div class='index-title'>
    <h2 class='service-title'>
    <% if  current_user.metabolism.to_i - kcal < 0 || current_user.day_money - money < 0 %>
      <%= "#{current_user.name}ã•ã‚“æ•—åŒ—ã—ã¦ã„ã¾ã™"%> <br>
    <% else current_user.metabolism.to_i - kcal > 1 && current_user.day_money - money > 1 %>
      <%= "#{current_user.name}ã•ã‚“å‹ã£ã¦ã„ã¾ã™ï¼"%> <br>
    <% end %>
    </h2>
    
  
</div>


