
<%= render "shared/header"%>
<% kcal = 0 %>
<% money = 0 %>
<% @foods.each do |food| %>
  <% kcal += food.kcal %>
  <% money += food.money %>
<% end %>
<div class='item-contents'>
  <h2 class='title'>
  <%= form_with(url: search_foods_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "今まで食べた物は検索！", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %> <br>
      <% end %>
  </h2>
  <%= "本日は#{ money }円使って#{ kcal }kcal摂取しました"%>
  <h2 class='graph'>
    <%= pie_chart({"摂取可能kcal" => current_user.metabolism.to_i, "摂取kcal" => kcal}) %>
    <%= pie_chart [["使えるお金", current_user.day_money ], ["使ったお金", money]] %>
  </h2>
  <h2 class='service-title'>
    <%= "本日残り#{current_user.metabolism.to_i - kcal }kcalです"%> <br>
    <%= "本日残り#{current_user.day_money - money }円です"%> <br>
  </h2>
</div> 

<div class='index-title'>
  <h2 class='service-title'>
  <% if  current_user.metabolism.to_i - kcal < 0 || current_user.day_money - money < 0 %>
    <%= "残念。赤に押されています。。"%>
  <% else current_user.metabolism.to_i - kcal > 1 && current_user.day_money - money > 1 %>
     <%= "いいですね 青が勝っています"%>
  <% end %>
  </h2>
</div>









                 

