<div class='main'>
<% kcal = 0 %>
<% money = 0 %>
<% @food.each do |food| %>
  <% kcal += food.kcal %>
  <% money += food.money %>
<% end %>
<div class='title-contents'>
    <h2 class='service-title'>
      <%= "#{current_user.name}さん今勝っています！"%>
    </h2>
    <h2 class='service-title'>
      <%= "本日残り#{current_user.metabolism.to_i - kcal }kcalです"%> <br>
      <%= "本日残り#{current_user.day_money- money }円です"%>
    </h2>
 </div>
<div class='item-contents'>
    <h2 class='title'>
    <%= link_to '今日の記録する', new_food_path, class: "black-btn" %>
    </h2>
    <h2 class='title'>
    <%= link_to '昨日より前の戦績', user_path(current_user), class: "blue-btn" %>
    </h2>
    <h2 class='title'>
    <%= link_to '痩せるや太るの本質', "#", class: "orange-btn" %>
    </h2>
    <h2 class='title'>
    <%= link_to 'pfcバランスとは？', "#", class: "palevioletred-btn" %>
    </h2>
</div>