 <div class='item-contents'>
    <h2 class='title'>
    <%= form_with(url: "#", local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "æ¤œç´¢ã§ç´ æ—©ãè¨˜éŒ²ï¼", class: "search-input" %>
      <%= form.submit "æ¤œç´¢", class: "search-btn" %>
    <% end %>
    </h2>
    <h2 class='title'>
    <%= link_to 'ä»Šæ—¥ã®è¨˜éŒ²ã™ã‚‹ðŸ”˜', new_food_path, class: "black-btn" %>
    </h2>
</div> 
  <% kcal = 0 %>
  <% money = 0 %>
  <% @food.each do |food| %>
    <% kcal += food.kcal %>
    <% money += food.money %>
  <% end %>
<div class='index-title'>
    <h2 class='service-title'>
      <%= "#{current_user.name}ã•ã‚“ä»Šå‹ã£ã¦ã„ã¾ã™ï¼"%>
    </h2>
    <h2 class='service-title'>
      <%= "æœ¬æ—¥æ®‹ã‚Š#{current_user.metabolism.to_i - kcal }kcalã§ã™"%> <br>
      <%= "æœ¬æ—¥æ®‹ã‚Š#{current_user.day_money- money }å††ã§ã™"%>
    </h2>
</div>
<h2 class='week-title'>
  <%= "â¬‡ï¸â¬‡ï¸â¬‡ï¸â¬‡ï¸é€±é–“è¨˜éŒ²â¬‡ï¸â¬‡ï¸â¬‡ï¸â¬‡ï¸"%>
</h2>
 <%= week_calendar events: @food do |date, food| %>
  <%= date %> <br>
  <% sum = 0 %>
  <% price = 0 %>
  <% fight = ["å‹åˆ©ï¼", "æ•—åŒ—ã€‚ã€‚ã€‚"]%>
  <% fight.each do |f| %>
  <div>
    <%= f %>
  </div>
  <% end %>
<% end %>
<div class='item-contents'>
    <h2 class='title'>
    <%= link_to 'ã‚«ãƒ­ãƒªãƒ¼å›žå¾©ã™ã‚‹æ–¹æ³•', "#", class: "orange-btn" %>
    </h2>
    <h2 class='title'>
    <%= link_to 'ç—©ã›ã‚‹ã‚„å¤ªã‚‹ã®æœ¬è³ªðŸ”˜', "#", class: "orange-btn" %>
    </h2>
    <h2 class='title'>
    <%= link_to 'pfcãƒãƒ©ãƒ³ã‚¹ã¨ã¯ï¼ŸðŸ”˜', "#", class: "palevioletred-btn" %>
</h2>
</div>

<div class='main'>
  <% kcal = 0 %>
  <% money = 0 %>
  <% @food.each do |food| %>
    <% kcal += food.kcal %>
    <% money += food.money %>
  <% end %>
  <div class='footer-contents'>
    <h2 class='service-title'>
      <%= "38æˆ¦25å‹13è² "%>
    </h2>
    <h2 class='service-title'>
      <%= "ä»Šã¾ã§ç·åˆ#{ kcal }kcalã§ã™" %> <br>
      <%= "ä»Šã¾ã§ç·åˆ#{ money }å††ã§ã™" %> <br>
      <%= link_to "ä»Šã¾ã§é£Ÿã¹ãŸã‚‚ã®è¦‹ã«ã„ã", user_path(current_user)%>
    </h2>
  </div>
</div>
