<%= render "shared/header"%>
<% kcal = 0 %>
<% money = 0 %>
<% @food.each do |food| %>
  <% kcal += food.kcal %>
  <% money += food.money %>
<% end %>

<div class='item-contents'>
  <h2 class='title'>
  <%= form_with(url: search_foods_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "今まで食べた物は検索！", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %> <br>
  <% end %>
  </h2>
  <%= "週間は#{ money }円使って#{ kcal }kcal摂取しました"%>
  <h2 class='graph'>
    <%= pie_chart({"週間摂取可能kcal" => current_user.metabolism.to_i * 7, "週間摂取kcal" => kcal}) %>
    <%= pie_chart [["週間可能額", current_user.day_money * 7 ], ["週間使用額", money]] %> <br> 
  </h2>
  <h2 class='service-title'>
  <% if current_user.metabolism.to_i > 0 %>
    <%= "素晴らしい！"%> <br>
    <% fat = (current_user.metabolism.to_i * 7 - kcal) / 7200.to_f %>
    <%= "週間で#{fat.floor(2)}kg減っています！"%> <br>
     <%= "予定より#{current_user.day_money * 7 - money }円節約しています"%> <br>
    <% end %>
  </h2>
</div> 

<div class='index-title'>
  <h2 class='service-title'>
   <%= "7日間摂取kcalの記録"%>
  </h2>
  <%= column_chart @food.group(:start_time).sum(:kcal), max: current_user.metabolism.to_i, id: 'total-attendance-chart',
                 width: '500px',
                 height: '300px',
                 colors: ['#fff'] %>
</div>
 


 




