<div class='header-contents'>
<%= link_to 'TOP', root_path, class: "subtitle" %>
<%= link_to '記録する', new_food_path, class: "subtitle2" %>
<%= link_to '本日の成績', users_path, class: "subtitle3" %>
<%= link_to '週間成績', user_path(current_user), class: "subtitle4" %>
<%= link_to '生涯成績', edit_user_path(current_user), class: "subtitle5" %>
</div>