

<% if user_signed_in? %>
 <div class='header-contents'>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "subtitle" %>
  <%= link_to '記録する', new_food_path, class: "subtitle2" %>
  <%= link_to '本日の成績', users_path, class: "subtitle3" %>
  <%= link_to '週間成績', user_path(current_user), class: "subtitle4" %>
  <%= link_to '生涯成績', edit_user_path(current_user), class: "subtitle5" %>
 </div>
<% else %>
  <div class='header-contents'>
    <%= link_to "ログイン", new_user_session_path, class: "subtitle2" %>
    <%= link_to "新規登録", new_user_registration_path, class: "subtitle2" %>
  </div>
<% end %>

<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      家計と体型を2つ同時に管理！
    </h2>
  </div>

  <div class='select-reason-contents'>
    <h2 class='title'>
      こんな事ないですか？
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "https://www.silhouette-illust.com/wp-content/uploads/2019/10/person_omoiukaberu_46871-300x300.jpg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>昨日何食べた？</span>
        </h3>
      </li>
      <li class='list'>
        <%= image_tag "https://www.silhouette-illust.com/wp-content/uploads/2019/10/person_omoiukaberu_46871-300x300.jpg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>１日の食費にどれくらい使ってんだ？</span>
        </h3>
      </li>
      <li class='list'>
        <%= image_tag "https://www.silhouette-illust.com/wp-content/uploads/2019/10/person_omoiukaberu_46871-300x300.jpg", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>最近何故だが太ってきたな</span>
        </h3>
      </li>
    </ul>
  </div>
  <div class='title-contents'>
  <h2 class='service-title'>
      全て解決できます！
  </h2>
  </div>




  <div class='feature-contents'>
    <h2 class='title'>
      continueの使い方
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "https://www.silhouette-illust.com/wp-content/uploads/2019/10/person_46477-300x300.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          登録しよう
        </h3>
        <p class='feature-list-description'>
          基礎代謝などを教えてね <br>
          ※基礎代謝はすぐに分かります！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ_XdrJqlYaZMnnd5iKCshCaKE7r4uzJOv6Cw&usqp=CAU", class:"list-pict" %>
        <h3 class='feature-list-text'>
          毎日記録
        </h3>
        <p class='feature-list-description'>
          継続して記録することが大事<br>
          記録をとる人は取らない人より２倍効果があります。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "https://www.silhouette-illust.com/wp-content/uploads/2016/06/2929-300x300.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          スッキリ！！
        </h3>
        <p class='feature-list-description'>
          継続し勝ち続けることで家計も体型もスッキリに
        </p>
      </li>
    </ul>
  </div>
  
  <div class='item-contents'>
  <% condition = ["⭕️", "❌", "🔺"] %>
  <% if user_signed_in? %>
  <h2>体調カレンダー</h2> <br>
  クリックで食べた物の詳細がわかるよ！<br>
  その日のコンディション<%= condition %> 
  <%= month_calendar events: @foods do |date, food| %>
  <%= date %> <br>
  <% if date < Time.now  %>
  <%= condition.sample %> <br>
  <% end %>
  <% food.each do |f| %>
     <%= link_to f.name, f %> <br>
  <% end %>
  <% end %>
  <% else %>
  <div class='header-contents'>
      <%= link_to "新規登録", new_user_registration_path, class: "subtitle2" %>
  </div>
  <% end %>

</div>
