
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      本日残り1000kcal <br>
      本日残り1000円
    </h2>
    <p class='service-explain'>
      累計23057kcal摂取
    </p>
    <p class='service-explain'>
      累計78945円
    </p>
    <h2 class='service-title'>
      毎日どれくらい食べて<br>
      どれだけお金使っているのか <br>
      覚えていますか？
    </h2>
 
  </div>

  <div class='select-reason-contents'>
    <h2 class='title'>
      知ろう！
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "yasanei_themb.jpg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>食べ物のkcal</span>
          現代人は食べ過ぎなのです
          どれくらい1日食べているか知りましょう。
         </h3>
      </li>
      <li class='list'>
        <%= image_tag "money_fueru.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>食費との関係性</span>
          食べ過ぎればそれだけ食費がかさみます
        </h3>
      </li>
      <li class='list'>
        <%= image_tag "9e2e4adcffa79c4df161f62e18b1f108_t.jpeg", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          振り返る！
          <span class='reason-list-blue-text'>人間昨日食べたもの忘れます</span>
        </h3>
        <p class='reason-list-description'>
          自分のデータを保存し、いつでも見れます！
        </p>
      </li>
    </ul>
  </div>




  <div class='feature-contents'>
    <h2 class='title'>
      continueの使い方
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "", class:"list-pict" %>
        <h3 class='feature-list-text'>
          基礎代謝と予定額の入力
        </h3>
        <p class='feature-list-description'>
          基礎代謝は登録画面からすぐわかるから安心してね
        </p>
      </li>
      <li class='list'>
        <%= image_tag "", class:"list-pict" %>
        <h3 class='feature-list-text'>
          毎日食べるものを記録！
        </h3>
        <p class='feature-list-description'>
          自分の体に入れるkcalを調べてみよう
        </p>
      </li>
      <li class='list'>
        <%= image_tag "", class:"list-pict" %>
        <h3 class='feature-list-text'>
          毎日の記録の継続習慣化で体型も家計も丸わかり！
        </h3>
        <p class='feature-list-description'>
          今までの累計kcalも知れるよ！
        </p>
      </li>
    </ul>
  </div>
  
  <div class='item-contents'>
    <h2 class='title'>
    <%= link_to '今日から継続はじめよう！', "#", class: "subtitle" %>
    <%= link_to 'まいステータス', user_path(current_user), class: "subtitle" %>
    </h2>
  </div>

</div>
